  body{
    background-image: url('../img/peakpx.jpg');
  }
   .home {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  